<section class="colored-section" id="title">
    <div class="container-fluid text-font">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="avatar-section">
            <img src="./assets/images/carla.png" alt="Avatar" class="avatar">
        </div>
        <p></p>
        <h6 class="role">SOFTWARE DEVELOPER</h6>

        <h1 class="name">Carla Rodgers</h1>
        <br>

        <div class="text-center">
            <button class="button resume-download text "> <i class="fa fa-download"></i>
                Download Resume
            </button>
        </div>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</section>
<br>
<br>
<br>